.c-project {
  // box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
  background: $white;
  margin: 7px 7px;
  flex: 1 1 auto;
  text-align: left;
  text-decoration: none;
  color: $primary-color;
  padding: 0 0; 
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  &__btn {
    width: 100%; 
    background: $primary-color;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
  }

  &__image {
    height:100%;
    overflow: hidden;
    position: relative;
    transition: 500ms;

    .img {
      overflow: hidden;
      transition: 500ms;
      min-height: 100%;
      background-size: cover;
      background-position: center;
      // max-width: reset;
    }
  }

  &:hover:not(.c-project--disabled){
    .c-project__image .img {
      transform: scale(1.1); 
    }
  }

  &--disabled {
    opacity: 0.6;
    
  }
}